*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
}


.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: coral;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    font-size: 80px;
}

/* section 2 */
#qualitys{
    width: 100%;
    padding: 70px 0;
    background: azure;
}
.quality-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-quality{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: azure;
    position: relative;
}
.single-quality img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),coral);
    opacity: 0;    
    transition: 1s;
}
.single-quality:hover .overlay{
    opacity: 1;
}
.quality-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 10%;
    opacity: 0;
    transform: rotateX(-50%);
    transition: 1s;
}
hr{
    background: azure;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.single-quality p{
    font-size: 14px;
}
.single-quality:hover .quality-desc{
    bottom: 40%;
    opacity: 1;
}