*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
}


.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: coral;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    font-size: 80px;
}

/* section 4 */
#modules{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.modules-right{
    flex-basis: 32%;
}
.modules-right h3{
    background: coral;
    color: azure;
    padding: 7px 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.modules-right h3{
    font-size: 30px;
}
.modules-right span{
    font-size: 25px;
}
.modules-right div{
    display: flex;
    justify-content: space-between;
    color: tomato;
    padding: 8px;
    box-sizing: border-box;
}