*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    margin: 0;
    padding: 0;
}
/*Header*/
#header{
    display: flex;
    height: 100px;

}
.image{
    width: 100px;
    background-color: bisque;
}
.head{
    background-color: crimson;
    flex-grow: 1;
}
/*Navigation*/
#navigation{
    background-color: blanchedalmond;
}
#navigation li{
    display: inline;
    padding: 20px;
    width: 50px;
}
#navigation ul{
    list-style: none;
    padding: 20px 0px;
}
/*Details*/
#details{
    height: 100px;
    padding: 40px;
    background-color: cadetblue;
}
/*Summary*/
#summary{    
    height: 300px;
    padding: 40px;
    background-color: rgb(116, 29, 29);
}






